.navik-header,
.navik-header * {-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;}

.navik-header:before,
.navik-header:after,
.navik-header *:before,
.navik-header *:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

.navik-header {position:relative; font-size:16px; line-height:1.42857143; background-color:#fff; z-index:9; top:0;
-webkit-text-size-adjust:100%;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
text-size-adjust:100%;
}
.navik-header ul {margin-bottom:inherit; list-style:none; padding:0;}
.navik-header img {max-width:100%; height:auto; vertical-align:top;}
.navik-header a:focus, .navik-header a:active {outline:none;}
.navik-header-container {position:relative;}
.navik-header-overlay .navik-header-container {position:inherit;}
.navik-header .logo {float:none !important; padding:15px 0; max-width:100px;}
.navik-header .logo img {max-width:100%; height:auto;}


/* ÍCONE MENU */
.burger-menu {
	top:55px;
	right:14px;
	width:20px;
	height:17px;
	display:flex;
	cursor:pointer;
	position:absolute;
	flex-direction:column;
	justify-content:space-between;
	-webkit-transition:transform 330ms ease-out;
	-moz-transition:transform 330ms ease-out;
	-o-transition:transform 330ms ease-out;
	transition:transform 330ms ease-out;
}
.burger-menu.menu-open {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.line-menu {background-color:#000; border-radius:2px; width:100%; height:3px;}
.line-menu.line-half {width:50%;}
.line-menu.first-line {transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:right;}
.menu-open .line-menu.first-line {
	-webkit-transform:rotate(-90deg) translateX(3px);
	-moz-transform:rotate(-90deg) translateX(3px);
	-o-transform:rotate(-90deg) translateX(3px);
	transform:rotate(-90deg) translateX(3px);
}
.line-menu.last-line { align-self:flex-end; transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:left;}
.menu-open .line-menu.last-line {
	-webkit-transform:rotate(-90deg) translateX(-3px);
	-moz-transform:rotate(-90deg) translateX(-3px);
	-o-transform:rotate(-90deg) translateX(-3px);
	transform:rotate(-90deg) translateX(-3px);
}
/* ÍCONE MENU */

/* ÍCONE + MENU */
.dropdown-plus {width:49px; height:49px; line-height:49px; position:absolute; top:0; right:0; cursor:pointer;}
.dropdown-plus:before, .dropdown-plus:after {position:absolute; content:''; top:24px; right:18px; width:13px; height:1px; background-color:#fff;}
.dropdown-plus:after {-webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg);}
/* ÍCONE + MENU */

.navik-menu > ul {display:none; padding:0 0 20px;}
.navik-menu ul li {position:relative;}
.navik-menu ul li > a {display:block; font-size:16px; text-transform:uppercase; font-weight:300; color:#000; padding:10px; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
.navik-menu ul li.current-menu > a,
.navik-menu ul li:hover > a {background-color:rgba(255, 255, 255, 0.3) !important;}
.navik-menu ul ul li > a {font-size:14px; padding:10px;}
.navik-menu ul ul ul li > a {padding:10px;}
.navik-menu li > ul, .dropdown-plus.dropdown-open:after {display:none;}


@media (max-width: 1200px) {
.navik-header .logo {float:left;}
.navik-menu {clear:both;}
}

@media (min-width: 1200px) {
	
.navik-header {background:#0b66bc;}	
	
.navik-header-container {height:80px;}
.navik-header .logo {width:100%; max-width: 140px; padding:0px 10px; margin-top: -28px; position:absolute;}
.navik-header .logo img {max-width: 140px;}
	
.burger-menu {display:none;}
.navik-menu {float:right; clear:inherit;}
.navik-menu > ul {display:block !important; padding:0; font-size:0;}
.navik-menu > ul > li {display:inline-block;}
.navik-menu ul li {position:relative;}

.navik-menu > ul > li > a {position:relative; height:80px; line-height:80px; box-sizing:border-box; white-space:nowrap; padding:0 20px; color:#fff;}
.navik-menu ul li.current-menu > a,	.navik-menu ul li:hover > a {background-color:inherit;}	
	
.dropdown-plus {display:none;}
/* ÍCONE MENU DOWN */
.navik-menu ul li.dropdown_menu > a > span:before {border-style:solid; border-width:2px 2px 0 0; border-color:#fff; position:relative; content:''; height:4px; width:4px; top:-3px; margin-left:8px; display:inline-block; box-sizing:content-box; -webkit-transform:rotate(135deg); -moz-transform:rotate(135deg);		-o-transform:rotate(135deg); transform:rotate(135deg);}
/**/
.navik-menu ul ul li.dropdown_menu > a > span:before {float:right; top:7px; right:-10px; margin:0; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}

.navik-menu.menu-caret ul li.dropdown_menu > a > span {display:inline-block;}
.navik-menu.menu-caret ul ul li.dropdown_menu > a > span {display:inline;}
/* ÍCONE MENU DOWN */

.navik-menu li > ul {
	display:block !important;
	position:absolute;
	width:230px;
	top:100%;
	left:0;
	background-color:#fff;
	padding:20px 0;
	visibility:hidden;
	opacity:0;
	
	-webkit-box-shadow:0px 12px 30px -2px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 12px 30px -2px rgba(0,0,0,0.1);
	-o-box-shadow:0px 12px 30px -2px rgba(0,0,0,0.1);
	box-shadow:0px 12px 30px -2px rgba(0,0,0,0.1);
	
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.navik-menu li:hover > ul {visibility:visible; opacity:1;}
.navik-menu li.submenu-right > ul {left:inherit; right:0;}
.navik-menu li > ul ul {top:-27px; left:100%;}
.navik-menu li.submenu-right > ul ul {left:-100% !important;}
.navik-menu ul ul li > a {position:relative; color:#818181; padding:9px 35px 7px !important;}
.navik-menu ul ul li > a, .navik-menu ul ul li:hover > a {color:#818181; background-color:transparent;}

/* BARRA HOVER	*/
.navik-menu ul ul li:hover > a {padding-left:55px !important;}
.navik-menu ul ul li > a:before {position:absolute; content:""; top:17px; left:35px; width:0; height:1px; background:#ccc; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
	
.navik-menu ul ul li:hover > a:before {width:2px;}
.navik-menu ul li.dropdown_menu > a > span {display:none;}
/* BARRA HOVER	*/


/* EFEITO DROPDOWN */	
.navik-menu.submenu-scale li > ul {
-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; -webkit-transform:scale(0); transform:scale(0); -webkit-transform-origin:0 0; transform-origin:0 0;}
.navik-menu.submenu-scale li.submenu-right ul {-webkit-transform-origin:100% 0; transform-origin:100% 0;}
.navik-menu.submenu-scale li:hover > ul {-webkit-transform:scale(1); transform:scale(1);}
/* EFEITO DROPDOWN */
	
}



/* TOPO FIXO */
.navik-header.sticky {position:fixed; width:100%; -webkit-animation-duration:.5s; animation-duration:.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:stickyTransition; animation-name:stickyTransition;}
.navik-header.sticky .navik-header-container {height:70px;}
.navik-header.sticky .navik-menu > ul > li > a {height:70px; line-height:70px;}
.navik-header.sticky .logo {top:0; text-align:center; padding:10px;}
.navik-header.sticky .logo img {max-width:100%; margin:-5px 0 0 70px;}
@-webkit-keyframes stickyTransition {
	from {opacity:0; -webkit-transform:translate3d(0, -100%, 0); transform:translate3d(0, -100%, 0);}
	to {opacity:1; -webkit-transform:none; transform:none;}
}
@keyframes stickyTransition {
	from {opacity:0; -webkit-transform:translate3d(0, -100%, 0); transform:translate3d(0, -100%, 0);}
	to {opacity:1; -webkit-transform:none; transform:none;}
}
/* TOPO FIXO */