/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

/*********CUSTUMER**********/

/* Estilizando as bolinhas de navegação */
.slick-slider .slick-dots {
    
    bottom: 20px; /* Ajuste a posição vertical conforme necessário */
    list-style: none;
    text-align: center;
    width: 100%;
  }
  
  .slick-slider .slick-dots li {
    display: inline-block;
    margin: 0 10px; /* Espaçamento entre as bolinhas */
  }
  
  .slick-slider .slick-dots li button {
    font-size: 0; /* Remover o número da bolinha */
    color: transparent; /* Remover a cor do número da bolinha */
    background: transparent;
    border: #0000003e solid;
    outline: none;
    padding: 0;
    width: 10px; /* Largura da bolinha */
    height: 10px; /* Altura da bolinha */
    border-radius: 50%; /* Forma circular da bolinha */
    cursor: pointer;
  }
  
  .slick-slider .slick-dots li button:before {
    content: ''; /* Remover o conteúdo do número da bolinha */
  }
  
  .slick-slider .slick-dots li.slick-active button {
    background-color: #3dc9f5; /* Cor de fundo da bolinha ativa */
  }
  